<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bs/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="bs/css/jquery-ui.min.css" type="text/css" rel="stylesheet">
    <link href="/login.css" type="text/css" rel="stylesheet">
    <script src="bs/js/jquery.min.js"></script>
    <script src="bs/js/jquery-ui.min.js"></script>
    <script src="bs/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container center-container">
    <span class = "login_header">Login</span>
    <form method="post" action="/login/">

        <input type = email name = "email" placeholder="Email">
<br>
        <input type = password name = "password" placeholder="Password">
        <br>
        <input type = submit value = "Login">
    </form>

    <input type = submit onclick = "window.location.replace('/login/register/');" value = "Register">

</div>
</body>
</html>