<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    <meta http-equiv="refresh" content="1; URL=/home" />
</head>
<body>
<h1 align="center" style="color:green">Success!</h1>
<h3 align="center">{{data}}</h3>
</body>
</html>